/*
 * Samsung's Exynos5422 based Odroid XU3 device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos5422.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Hardkernel odroid-xu3 board based on EXYNOS5422";
	compatible = "Hardkernel,odroid-xu3", "samsung,exynos5420", "samsung,exynos5";

	memory {
		reg = <0x20000000 0x80000000>;
	};

	chosen {
		bootargs = "console=ttySAC3,115200";
	};

	firmware@02073000 {
		compatible = "samsung,secure-firmware";
		reg = <0x02073000 0x1000>;
	};

	fixed-rate-clocks {
		oscclk {
			compatible = "samsung,exynos5420-oscclk";
			clock-frequency = <24000000>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		main_dc_reg: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "MAIN_DC";
		};

		reg_hdmi_en: regulator@1 {
			compatible = "regulator-fixed";
			reg = <2>;
			regulator-name = "hdmi-en";
		};
	};

	rtc@101E0000 {
		status = "okay";
	};

	codec@11000000 {
		samsung,mfc-r = <0x43000000 0x800000>;
		samsung,mfc-l = <0x51000000 0x800000>;
	};

	pinctrl@13400000 {
		hdmi_hpd_irq: hdmi-hpd-irq {
			samsung,pins = "gpx3-7";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
	};

	mmc@12200000 {
		status = "okay";
		broken-cd;
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <0 4>;
		samsung,dw-mshc-ddr-timing = <0 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd0_clk &sd0_cmd &sd0_bus4 &sd0_bus8>;
		vmmc-supply = <&ldo10_reg>;
		bus-width = <8>;
		cap-mmc-highspeed;
		dw-mshc-hw-reset = <&gpd1 0 0>;
	};

	mmc@12220000 {
		status = "okay";
		card-detect-delay = <200>;
		samsung,dw-mshc-ciu-div = <3>;
		samsung,dw-mshc-sdr-timing = <2 3>;
		samsung,dw-mshc-ddr-timing = <1 2>;
		pinctrl-names = "default";
		pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
		vmmc-supply = <&ldo10_reg>;
		bus-width = <4>;
		cap-sd-highspeed;
	};

	usb300_vbus_reg: regulator-usb300 {
		compatible = "regulator-fixed";
		regulator-name = "P5.0V_USB3CON0";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gph0 0 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb300_vbus_en>;
		enable-active-high;
	};

	usb301_vbus_reg: regulator-usb301 {
		compatible = "regulator-fixed";
		regulator-name = "P5.0V_USB3CON1";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&gph0 1 0>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb301_vbus_en>;
		enable-active-high;
	};


	pinctrl_0: pinctrl@13400000 {
		max98090_irq: max98090-irq {
			samsung,pins = "gpx0-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		tpm_irq: tpm-irq {
			samsung,pins = "gpx1-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		power_key_irq: power-key-irq {
			samsung,pins = "gpx1-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		hdmi_hpd_irq: hdmi-hpd-irq {
			samsung,pins = "gpx3-7";
			samsung,pin-function = <0>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};

		dp_hpd_gpio: dp_hpd_gpio {
			samsung,pins = "gpx2-6";
			samsung,pin-function = <0>;
			samsung,pin-pud = <3>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl_3: pinctrl@14010000 {
		usb300_vbus_en: usb300-vbus-en {
			samsung,pins = "gph0-0";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};

		usb301_vbus_en: usb301-vbus-en {
			samsung,pins = "gph0-1";
			samsung,pin-function = <1>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	hsi2c_4: i2c@12CA0000 {
		samsung,hs-mode;
		clock-frequency = <400000>;
		status = "okay";

		s2mps11_pmic@66 {
			compatible = "samsung,s2mps11-pmic";
			reg = <0x66>;
			interrupts = <IRQ_TYPE_LEVEL_HIGH 0 0>;
			interrupt-parent = <&gpx0>;
			wtsr_smpl = <1>;
			s2mps11,buck2-ramp-delay = <12>;
			s2mps11,buck34-ramp-delay = <12>;
			s2mps11,buck16-ramp-delay = <12>;
			s2mps11,buck6-ramp-enable = <1>;
			s2mps11,buck2-ramp-enable = <1>;
			s2mps11,buck3-ramp-enable = <1>;
			s2mps11,buck4-ramp-enable = <1>;

			s2mps11_osc: clocks {
				#clock-cells = <1>;
				clock-output-names = "s2mps11_ap",
						"s2mps11_cp", "s2mps11_bt";
			};

			regulators {
				buck1_reg: BUCK1 {
					regulator-name = "PVDD_MIF_1V1";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck2_reg: BUCK2 {
					regulator-name = "vdd_arm";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck3_reg: BUCK3 {
					regulator-name = "PVDD_INT_1V0";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck4_reg: BUCK4 {
					regulator-name = "PVDD_G3D_1V0";
					regulator-min-microvolt = <700000>;
					regulator-max-microvolt = <1400000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck6_reg: BUCK6 {
					regulator-name = "PVDD_KFC_1V0";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1500000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				buck10_reg: BUCK10 {
					regulator-name = "PVDD_EMMCF_2V8";
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo4_reg: LDO4 {
					regulator-name = "PVDD_ADC_1V8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo5_reg: LDO5 {
					regulator-name = "PVDD_PLL_1V8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo6_reg: LDO6 {
					regulator-name = "PVDD_ANAIP_1V0";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo7_reg: LDO7 {
					regulator-name = "PVDD_ANAIP_1V8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-initial-mode = <1>;
				};

				ldo8_reg: LDO8 {
					regulator-name = "PVDD_ABB_1V8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-initial-mode = <1>;
				};

				ldo9_reg: LDO9 {
					regulator-name = "PVDD_USB_3V3";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-initial-mode = <1>;
				};

				ldo10_reg: LDO10 {
					regulator-name = "PVDD_PRE_1V8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-initial-mode = <1>;
				};

				ldo11_reg: LDO11 {
					regulator-name = "PVDD_USB_1V0";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-initial-mode = <1>;
				};

				ldo13_reg: LDO13 {
					regulator-name = "PVDD_APIO_MMCOFF_2V8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <3300000>;
					regulator-boot-on;
					regulator-ramp-delay = <12000>;
					regulator-initial-mode = <1>;
				};

				ldo15_reg: LDO15 {
					regulator-name = "PVDD_PERI_2V8";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo17_reg: LDO17 {
					regulator-name = "vdd_eth";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo18_reg: LDO18 {
					regulator-name = "PVDD_EMMC_1V8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
					regulator-always-on;
					regulator-boot-on;
					regulator-initial-mode = <1>;
				};

				ldo19_reg: LDO19 {
					regulator-name = "PVDD_TFLASH_2V8";
					regulator-min-microvolt = <2850000>;
					regulator-max-microvolt = <2850000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo23_reg: LDO23 {
					regulator-name = "PVDD_MIFS_1V1";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1100000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
					regulator-ramp-delay = <12000>;
				};

				ldo26_reg: LDO26 {
					regulator-name = "PVDD_CAM0_AF_2V8";
					regulator-min-microvolt = <3000000>;
					regulator-max-microvolt = <3000000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};

				ldo27_reg: LDO27 {
					regulator-name = "PVDD_G3DS_1V0";
					regulator-min-microvolt = <800000>;
					regulator-max-microvolt = <1100000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
					regulator-ramp-delay = <12000>;
				};

				ldo28_reg: LDO28 {
					regulator-name = "PVDD_TSP_3V3";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
					regulator-always-on;
					regulator-initial-mode = <1>;
				};
			};
		};
	};

	usbdrd_phy0: phy@12100000 {
		vbus-supply = <&usb300_vbus_reg>;
	};

	usbdrd_phy1: phy@12500000 {
		vbus-supply = <&usb301_vbus_reg>;
	};

	fimd: fimd@14400000 {
		status = "okay";
	};

	gpio_keys {
		compatible = "gpio-keys";

		wakeup {
			label = "SW-TACT1";
			gpios = <&gpx2 7 1>;
			linux,code = <KEY_WAKEUP>;
			gpio-key,wakeup;
		};
	};

	i2s0: i2s@03830000 {
		status = "okay";
	};
};

&usbdrd_dwc3_0 {
	dr_mode = "host";
};

&usbdrd_dwc3_1 {
	dr_mode = "host";
};

&i2c_0 {
	status = "okay";
	clock-frequency = <400000>;

	ina220@40 {
		compatible = "ti,ina230";
		reg = <0x40>;
		shunt-resistor = <10000>;
	};

	ina220@41 {
		compatible = "ti,ina230";
		reg = <0x41>;
		shunt-resistor = <10000>;
	};

	ina220@44 {
		compatible = "ti,ina230";
		reg = <0x44>;
		shunt-resistor = <10000>;
	};

	ina220@45 {
		compatible = "ti,ina230";
		reg = <0x45>;
		shunt-resistor = <10000>;
	};
};

&i2c_2 {
	status = "okay";
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <66000>;
	samsung,i2c-slave-addr = <0x50>;
	samsung,i2c-max-bus-freq = <400000>;
};

&hdmi {
	status = "okay";
	hpd-gpio = <&gpx3 7 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default";
	pinctrl-0 = <&hdmi_hpd_irq>;
	ddc = <&i2c_2>;
	hdmi-en-supply = <&reg_hdmi_en>;
	vdd-supply = <&ldo8_reg>;
	vdd_osc-supply = <&ldo10_reg>;
	vdd_pll-supply = <&ldo8_reg>;
};
